@{
    Layout = "_Layout";
}
@model Employee_Self_Service_DAL.ViewModel.DashboardViewModel;


<div class="container-fluid p-4">


    <div class="row row-cols-1 row-cols-lg-2 mt-0 g-4 d-flex">
        <div class="col ">
            
            <div class=" bg-white shadow  rounded-0 dashboard-leave dashboard-card">
                <div class=" w-100 h-100">
                    <div class="member p-2">
                        <span class="fw-semibold">Member on Leave Today</span>
                    </div>
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <td class="col-lg-8">
                                    <span class="heading">Name</span>
                                </td>
                                <td class="text-center">
                                    <span>Duration</span>
                                </td>
    
                                <td class="text-center">
                                    <span>Days</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var data in Model.TodayOnLeave)
                            {
                            <tr>
                                <td>@data.EmployeeName</td>
                                <td>
                                    @data.StartDate.ToString("dd/MM") - @data.EndDate.ToString("dd/MM")
                                </td>
                                <td class="text-center">
                                    @data.ActualDuration
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col ">
            
            <div class="events rounded-0 shadow  p-3 dashboard-card d-flex flex-column ">
                <div class="">
                    <span class="fw-semibold">News & Events</span>
                </div>
                
                <div class="mt-3">
                    
                    
                    @foreach (var data in Model.UpcomingEvents)
                    {
                        <a class="eventDetails d-flex align-items-center text-decoration-none text-black" href ="" data-id="@data.EventId" data-bs-toggle="modal"
                                data-bs-target="#eventDetailsModal">
                                <P class="">@data.EventName - @data.StartDate.ToString("dd/MM/yyyy")</P>
                                
                        </a>
                    }
                   
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-2 mt-0 g-4 d-flex">
        <div class="col ">
            
            <div class=" bg-white shadow  rounded-0 dashboard-leave dashboard-card">
                <div class=" w-100 h-100">
                    <div class="member p-2">
                        <span class="fw-semibold">Members Leave</span>
                    </div>
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <td class="col-lg-8">
                                    <span class="heading">Name</span>
                                </td>
                                <td class="text-center">
                                    <span>Duration</span>
                                </td>
    
                                <td class="text-center">
                                    <span>Days</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var data in Model.OnLeave)
                            {
                            <tr>
                                <td>@data.EmployeeName</td>
                                <td>
                                    @data.StartDate.ToString("dd/MM") - @data.EndDate.ToString("dd/MM")
                                </td>
                                <td class="text-center">
                                    @data.ActualDuration
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>



<div class="modal fade" tabindex="-1" id="eventDetailsModal" aria-labelledby="leaveViewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="eventDetailsModalContent">
            
        </div>
    </div>
</div>


@* <div id="notificationArea" class="alert alert-info" style="display:none;">
    <span id="notificationMessage"></span>
</div> *@

<script src="~/lib/jquery/dist/jquery.min.js"></script>


<!-- SignalR JavaScript -->

@* <script>
    // Connect to SignalR Hub
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/notificationHub")
        .build();

    // Handle incoming notifications
    connection.on("ReceiveNotification", (message) => {
        const notificationArea = document.getElementById("notificationArea");
        const notificationMessage = document.getElementById("notificationMessage");
        notificationMessage.textContent = message;
        notificationArea.style.display = "block";
    
        setTimeout(() => { notificationArea.style.display = "none"; }, 5000);
        toastr.success(message);
    });

    // Start the connection
    connection.start().catch(err => console.error(err.toString()));
</script> *@

<script>
    $(document).on("click", ".eventDetails", function () {
        $.ajax({
            url: '/Event/EventDetails',
            data: {
                'eventId': $(this).data("id")
            },
            type: "GET",
            success: function (data) {
                $("#eventDetailsModalContent").html(data);
            },
            error: function () {
                $("#eventDetailsModalContent").html('An error has occurred');
            }
        })
    });

</script>