@{
    Layout = "_Layout";
}
@model Employee_Self_Service_DAL.ViewModel.DashboardViewModel;

@{
    string? employeeId = Context.Request.Cookies["EmployeeId"];
}


<div class="container-fluid p-4">
    <div class="row  row-cols-lg-3 mt-0 g-4 d-flex">
        @if((Model.Widgets.FirstOrDefault(w => w.WidgetId == 1 && w.EmployeeId == Convert.ToInt32(employeeId)).IsVisible == true)){
        <div class="col ">
            <div class=" bg-white shadow  rounded-0 dashboard-leave dashboard-card" >
                <div class=" w-100 h-100">
                    <div class="member p-2">
                        <span class="fw-semibold">Member on Leave Today</span>
                    </div>
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <td class="col-lg-8">
                                    <span class="heading">Name</span>
                                </td>
                                <td class="text-center">
                                    <span>Duration</span>
                                </td>

                                <td class="text-center">
                                    <span>Days</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var data in Model.TodayOnLeave)
                            {
                                <tr>
                                    <td>@data.EmployeeName</td>
                                    <td>
                                        @data.StartDate.ToString("dd/MM") - @data.EndDate.ToString("dd/MM")
                                    </td>
                                    <td class="text-center">
                                        @data.ActualDuration
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
        @if((Model.Widgets.FirstOrDefault(w => w.WidgetId == 5 && w.EmployeeId == Convert.ToInt32(employeeId)).IsVisible == true)){
        <div class="col ">
            <div class="quickLinks rounded-0 shadow  p-3 dashboard-card d-flex flex-column ">
                <div class="">
                    <span class="fw-semibold">Quick Links</span>
                </div>
                <div class="mt-3 d-flex gap-3">
                    @foreach (var data in Model.QuickLinks)
                    {
                        @if( data.EmployeeId == Convert.ToInt32(employeeId)){
                        <a class="quick d-flex align-items-center text-decoration-none check-url" data-url="@data.Url" href="javascript:void(0)">
                            <p class="fs-6">@data.Name <i class="bi bi-arrow-up-right"></i></p>
                        </a>
                        }
                    }
                </div>
            </div>
        </div>
        }
        @if((Model.Widgets.FirstOrDefault(w => w.WidgetId == 2 && w.EmployeeId == Convert.ToInt32(employeeId)).IsVisible == true)){
        <div class="col ">

            <div class="events rounded-0 shadow  p-3 dashboard-card d-flex flex-column ">
                <div class="">
                    <span class="fw-semibold">News & Events</span>
                </div>
                <div class="mt-3">
                    @foreach (var data in Model.UpcomingEvents)
                    {
                        <a class="eventDetails d-flex align-items-center text-decoration-none text-black" href=""
                            data-id="@data.EventId" data-bs-toggle="modal" data-bs-target="#eventDetailsModal">
                            <P class="">@data.EventName - @data.StartDate.ToString("dd/MM/yyyy")</P>

                        </a>
                    }
                </div>
            </div>
        </div>
        }
    </div>

    <div class="row mt-0 g-4 d-flex" >
        @if((Model.Widgets.FirstOrDefault(w => w.WidgetId == 3 && w.EmployeeId == Convert.ToInt32(employeeId)).IsVisible == true)){
        <div class="col">
            <div class="bg-white shadow  rounded-0 dashboard-leave dashboard-card">
                <div class=" w-100 h-100">
                    <div class="member p-2">
                        <span class="fw-semibold">Members Leave</span>
                    </div>
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <td class="col-lg-8">
                                    <span class="heading">Name</span>
                                </td>
                                <td class="text-center">
                                    <span>Duration</span>
                                </td>

                                <td class="text-center">
                                    <span>Days</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var data in Model.OnLeave)
                            {
                                <tr>
                                    <td>@data.EmployeeName</td>
                                    <td>
                                        @data.StartDate.ToString("dd/MM") - @data.EndDate.ToString("dd/MM")
                                    </td>
                                    <td class="text-center">
                                        @data.ActualDuration
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }

        @if((Model.Widgets.FirstOrDefault(w => w.WidgetId == 4 && w.EmployeeId == Convert.ToInt32(employeeId)).IsVisible == true)){
        <div class="col " >
            <div class=" bg-white shadow  rounded-0 dashboard-leave dashboard-card">
                <div class="w-100 h-100 ">
                    <div class="member p-2">
                        <span class="fw-semibold ">HelpDesk Request</span>
                    </div>
                    
                    <table class="table table-bordered mb-0 ">
                        <thead>
                            <tr>
                                <td class="">
                                    <span class="heading">RequestId</span>
                                </td>
                                <td class="">
                                    <span>Request Date</span>
                                </td>
                                
                                <td class="">
                                    <span class="">Category</span>
                                </td>
                                <td class="">
                                    <span class="">Sub Category</span>
                                </td>
                                <td class="">
                                    <span>Status</span>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var data in Model.OwnHelpDeskRequests)
                            {
                                if (data.EmployeeId == Convert.ToInt32(employeeId))
                                {
                                    <tr>
                                        <td>@if (data.PendingAt.ToString() != "HR" && data.StatusId != 3)
                                            {
                                                <a asp-action="ResponseHelpDeskRequest" asp-controller="HelpDesk"
                                                    asp-route-requestId="@data.HelpDeskRequestId">
                                                    @data.HelpDeskRequestId
                                                </a>
                                            }
                                            else
                                            {
                                                @data.HelpDeskRequestId
                                            }
                                        </td>
                                        <td class="">
                                            @data.RequestedDate.ToString("dd-MM-yyyy")
                                        </td>
                                       
                                        <td>@data.Category</td>
                                        <td>
                                            @foreach (string subCategories in data.SubCategories)
                                            {
                                                @subCategories
                                                <br />
                                            }
                                        </td>
                                         <td class="">
                                            @data.Status
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
    </div>
</div>

<div class="modal fade" tabindex="-1" id="eventDetailsModal"  data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="eventDetailsModalContent">

        </div>
    </div>
</div>



<div class="modal fade" tabindex="-1" id="documentViewerModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-bolder">View Documents</h5>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#eventDetailsModal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">
                <div id="documentModalContent">

                </div>
                @* @if (Model.EventDocuments != null && Model.EventDocuments.Any())
                            {
                                foreach (var document in Model.EventDocuments)
                                {
                                    var fileExtension = document.Documents.Split('.').Last().ToLower();
                                    if (fileExtension == "pdf")
                                    {
                                        <iframe src="@document.Documents" width="100%" height="500px" style="border: none;"></iframe>
                                    }
                                    else if (fileExtension == "jpg" || fileExtension == "jpeg" || fileExtension == "png" || fileExtension == "gif")
                                    {
                                        <img src="@document.Documents" alt="@document.Documents.Split('_').Last()" class="img-fluid mb-2" />
                                    }
                                    else
                                    {
                                        <p>Unsupported file type: @document.Documents.Split('_').Last()</p>
                                    }
                                }
                            }
                            else
                            {
                                <p>No documents available.</p>
                            } *@

            </div>
            <div class="modal-footer border-0 d-flex flex-row justify-content-start">
                <button type="button" class="btn cancle_btn" data-bs-toggle="modal"
                    data-bs-target="#eventDetailsModal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).on("click", ".eventDetails", function () {
        $.ajax({
            url: '/Event/EventDetails',
            data: {
                'eventId': $(this).data("id")
            },
            type: "GET",
            success: function (data) {
                $("#eventDetailsModalContent").html(data);
            },
            error: function () {
                $("#eventDetailsModalContent").html('An error has occurred');
            }
        })
    });

    $(document).on("click", ".documentView", function () {
        $.ajax({
            url: '/Event/GetDocument',
            data: {
                'eventId': $(this).data("id")
            },
            type: "GET",
            success: function (data) {
                $("#documentModalContent").html(data);
            },
            error: function () {
                $("#documentModalContent").html('An error has occurred');
            }
        })
    });
    
    document.addEventListener('DOMContentLoaded', function () {            
            document.querySelectorAll('.check-url').forEach(link => {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    const url = this.getAttribute('data-url');
                    fetch('/Home/CheckUrl?url=' + encodeURIComponent(url))
                        .then(response => response.json())
                        .then(data => {
                            if (data.exists) {
                                window.location.href = url;
                            } else {
                                window.location.href = '/Home/Error404';
                            }
                        })
                        .catch(error => {
                            console.error('Error checking URL:', error);
                            window.location.href = '/Home/Error404';
                        });
                });
            });
        });

</script>