@{
    string? userRole = Context.Request.Cookies["role"];
    var profileImage = Context.Request.Cookies["profileImage"];
    var username = Context.Request.Cookies["employeeName"];
    var notification = TempData.Peek("Notification");
    string? roleId = Context.Request.Cookies["roleId"];
    string? employeeId = Context.Request.Cookies["EmployeeId"];
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee_Self_Service</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Employee_Self_Service.styles.css" asp-append-version="true" />

    <style>



    </style>

</head>

<body>
    <div>
        
        <header class="header bg-primary p-2 d-flex justify-content-between w-100">

            <div class="img col-sm-4 col-md-3 col-4 col-xl-2 col-xxl-2 d-flex align-items-center">
                <div class="d-flex align-items-center">

                    <div id="toggleSidebar" class="px-3 text-white">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>

                @if (userRole == "Employee")
                {
                    <div class="logo-div d-flex align-items-center justify-content-start gap-1">
                        <a class="navbar-brand text-white fw-semibold" asp-area="" asp-controller="Home"
                            asp-action="Index">Employee Self Service</a>
                    </div>
                }
                @if (userRole == "Admin")
                {
                    <div class="logo-div d-flex align-items-center justify-content-start gap-1">
                        <a class="navbar-brand text-white fw-semibold" asp-area="" asp-controller="Home"
                            asp-action="Index">Admin Portal</a>
                    </div>
                }
                @if (userRole == "HR")
                {
                    <div class="logo-div d-flex align-items-center justify-content-start gap-1">
                        <a class="navbar-brand text-white fw-semibold" asp-area="" asp-controller="Home"
                            asp-action="Index">HR Portal</a>
                    </div>
                }
            </div>

            <div class="col d-flex justify-content-end px-2 w-100">
                <div class="input-group w-25 rounded-3 p-2">
                    <input type="text" class="search form-control w-25 border-end-0 outline:none d-sm-block d-none"
                        id="searchInput" placeholder="Search" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
                </div>
                @* @if(userRole != "HR"){ *@
                <div class="dropdown">
                    
                    <button class="btn shadow-none border-none" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <div class="d-flex align-items-center">

                        <div id="" class="px-2 text-white position-relative">
                            <i class="bi bi-bell fs-4"></i>
                            <span id="notificationCount" class="position-absolute top-47 start-130 translate-middle badge rounded-pill bg-danger" style="display:none ;">0</span>
                        </div>
                    </div>
        
                    </button >
                    
                    <ul class="dropdown-menu mt-2 rounded-0 notification " id="notificationContent">
                        
                    </ul>
                </div>

                
                @* } *@

                <div class="dropdown">
                    <button class="btn shadow-none border-none" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="@(!string.IsNullOrEmpty(profileImage) ? profileImage : "/images/Default_pfp.svg.png")"
                            alt="" class="user-img rounded-circle">
                    </button>
                    <ul class="dropdown-menu p-4">
                        <li class="d-flex align-items-center flex-column gap-1 fw-bold text-secondary">
                            <div class="d-flex align-items-center">
                                <img src="@(!string.IsNullOrEmpty(profileImage) ? profileImage : "~/images/Default_pfp.svg.png")"
                                    alt="" class="user-img1 rounded-circle">
                            </div>
                            <div>
                                @username
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <div class="d-flex">
                                <a class="text-decoration-none" asp-action="MyProfile" asp-controller="Profile"><button
                                        class="dropdown-item p-0 mt-2 fw-bold text-secondary gap-1 d-flex justify-content-start"
                                        type="submit">
                                        <i class="fa-solid fa-user mt-1"></i>
                                        <span class="">My Profile</span></button></a>
                            </div>
                        </li>
                        <li>
                            <a href="/Profile/ChangePassword" class="text-decoration-none">
                                <button
                                    class="dropdown-item p-0 mt-2 fw-bold text-secondary d-flex align-items-center justify-content-start"
                                    type="submit">
                                    <i class="fa-solid fa-lock"></i>&nbsp;
                                    <span class="">Change Password</span>
                                </button></a>
                        </li>
                        <li>
                            <button
                                class="dropdown-item p-0 mt-2 fw-bold text-secondary d-flex align-items-center justify-content-start"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fa-solid fa-sign-out"></i>&nbsp;
                                Logout
                            </button>
                        </li>
                    </ul>
                </div>
                
            </div>
           
        </header>
        
        <div class="main-container">
            <!-- Sidebar -->
            <div class="sidebar">
                <aside class="aside bg-white">
                    <nav class="navbar d-flex flex-column gap-3">
                        <ul class="bullet d-flex flex-column gap-4 w-100 p-2">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item border-0">
                                    <li class="Dashboard list-active d-flex align-items-center gap-2 p-3 ms-1">
                                        <div class="d-flex align-items-center gap-2">
                                            <a href="/Home/Index"
                                                class="d-flex text-decoration-none text-dark align-items-center gap-2 @((ViewData["ActiveLink"] as string) == "Dashboard" ? "active" : "")">
                                                <i class="fa-solid fa-table-cells-large"></i><span
                                                    class="icon-name fw-bold">Dashboard</span></a>
                                        </div>
                                    </li>
                                </div>
                                <div class="accordion-item shadow-none border-0">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed shadow-none gap-2" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false" aria-controls="flush-collapseTwo">
                                            <i class="fa-solid fa-pen-to-square text-dark"></i><span
                                                class="icon-name icon-name-inner fw-bold text-dark">Leave</span>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body d-flex p-0 ms-5 flex-column gap-2">
                                            <a href="/Leave/LeaveRequest" class="d-flex text-decoration-none text-dark">
                                                <span class="icon-name icon-name-inner">Self</span></a>
                                            @if (userRole == "HR")
                                            {
                                                <a href="/Leave/ResponseRequest"
                                                    class="d-flex text-decoration-none text-dark">
                                                    <span class="icon-name icon-name-inner">Response</span></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item border-0">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed shadow-none gap-2" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                            aria-expanded="false" aria-controls="flush-collapseThree">
                                            <i class="fa-solid fa-user-clock text-dark"></i><span
                                                class="icon-name fw-bold text-dark">HelpDesk</span></a>
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body d-flex align-items-center p-0 ms-5"><a href=""
                                                class="d-flex text-decoration-none text-dark d-flex justify-content-center">
                                                <span class="icon-name icon-name-inner">Self</span></a>
                                        </div>
                                    </div>
                                </div>
                                @if (userRole == "HR")
                                {
                                    <div class="accordion-item border-0">
                                        <li class="Dashboard list-active d-flex align-items-center gap-2 p-3 ms-1">
                                            <div class="d-flex align-items-center gap-2">
                                                <a href="/Event/Events"
                                                    class="d-flex text-decoration-none text-dark align-items-center gap-2">
                                                    <i class="bi bi-calendar-event"></i><span
                                                        class="icon-name fw-bold d-flex justify-content-center">Event</span></a>
                                            </div>
                                        </li>
                                    </div>
                                }
                            </div>
                        </ul>
                    </nav>
                </aside>
            </div>

            <!-- RenderBody Content -->
            <div class="sub">
                <div id="notificationArea" class="alert alert-info" style="display:none;">
                    <span id="notificationMessage"></span>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>




    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-secondary">
            <div class="modal-content">
                <form asp-action="Logout" asp-controller="Login" method="post">
                    <div class="modal-body d-flex justify-content-center flex-column align-items-center">
                        <img src="../images/toppng.com-warning-icon-2400x2400.png" alt="" style="width: 70px">
                        <p>Are you sure want to logout?</p>
                    </div>
                    <div class="modal-footer border border-0 d-flex justify-content-center">
                        <button type="submit" class="confirmDelete btn btn-primary">YES</button>

                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">NO</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_TosterPartialView")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.2/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalR.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        let roleId;
        let employeeId;
        $(document).ready(function () {
            const toggleSidebarButton = document.getElementById('toggleSidebar');
            const renderBody = document.querySelector('.sub');
            const sidebar = document.querySelector('.sidebar');


            toggleSidebarButton.addEventListener('click', function () {
                sidebar.classList.toggle('hidden');
                renderBody.classList.toggle('full');

            });
            toggleSidebarButton.addEventListener('click', function () {
                renderBody.classList.toggle('full');

            });
            toggleSidebarButton.addEventListener('click', function () {
                sidebar.classList.toggle('visible');
                renderBody.classList.toggle('full');
            });
        });

        function NotificationDropdown(){
                    $.ajax({
                        url: '/Notification/GetNotifications',
                        data: {
                            @* roleId: @roleId *@
                            employeeId: @employeeId
                        },
                        type: "GET",
                        success: function (data) {
                            $("#notificationContent").html(data);
                            updateNotificationCount();
                        },
                        error: function () {
                            $("#notificationContent").html('<li>An error has occurred</li>');
                        }
                    });
        }

        $(document).on("click",".dropdown", function () {
            NotificationDropdown()            
        });

        function updateNotificationCount() {
            $.ajax({
                url: '/Notification/GetNotificationCount',
                type: "GET",
                data:{
                            @* roleId:@roleId *@
                            employeeId: @employeeId
                        },
                success: function (count) {
                    const notificationCountElement = $("#notificationCount");
                    if (count > 0) {
                        notificationCountElement.text(count).show();
                    } else {
                        notificationCountElement.hide();
                    }
                },
                error: function () {
                    console.error('Failed to fetch notification count');
                }
            });
        }

        $(document).ready(function () {
            updateNotificationCount();
            setInterval(updateNotificationCount, 60000); 
        });
        
    </script>
    
</body>

</html>
