@model Employee_Self_Service_DAL.ViewModel.HelpDeskPaginationViewModel
@using Employee_Self_Service.DAL.Attributes
@using Employee_Self_Service_DAL.ViewModel
@using System.Reflection

<div class="table-responsive px-0">

    <table class="table">
        <thead>
            <tr class="">
                @{
                    var props = typeof(Employee_Self_Service_DAL.ViewModel.HelpDeskDetailsViewModel).GetProperties();

                }
                @foreach (var prop in props)
                {
                    var displayAttr = prop.GetCustomAttribute<DisplayColumnAttribute>();

                    if (displayAttr != null && displayAttr.IsVisible)
                    {
                        <th class="@(prop.PropertyType == typeof(DateTime) ? "" : "text-center")" style="white-space: nowrap;">
                            <a href="javascript:void(0)" onclick="sortBy('@prop.Name')"
                                class="text-decoration-none text-dark">@displayAttr.Name
                                <i class="bi bi-arrow-down-up" id="sort-by-@prop.Name.Replace('.', '-')"
                                    data-direction="asc"></i>
                            </a>
                        </th>
                    }
                }
                <th class="text-center" style="white-space: nowrap;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.HelpDeskList)
            {
                <tr>
                    @foreach (var prop in props)
                    {
                        var displayAttr = prop.GetCustomAttribute<DisplayColumnAttribute>();

                        if (displayAttr != null && displayAttr.IsVisible)
                        {
                            var value = prop.GetValue(data);
                            <td class="text-center">
                                @if (prop.Name == "Status")
                                {
                                    <span class="badge status @(data.StatusId switch
                                {
                                2 => "approved",
                                7 => "rejected",
                                3 => "cancelled",
                                1 => "acknowledged",
                                4 => "closed",
                                _ => "pending"
                                }) p-2 text-black fw-lighter fs-6">
                                        @value
                                    </span>
                                }
                                else if (prop.Name == "HelpDeskRequestId")
                                {
                                    @if (data.PendingAt.ToString() != "HR" && data.StatusId != 3)
                                    {
                                        <a asp-action="ResponseHelpDeskRequest" asp-controller="HelpDesk"
                                            asp-route-requestId="@data.HelpDeskRequestId">
                                            @data.HelpDeskRequestId
                                        </a>
                                    }
                                    else
                                    {
                                        @data.HelpDeskRequestId
                                    }
                                }
                                else if (prop.Name == "Priority")
                                {
                                    <span class="badge status @(data.Priority.ToString().ToLower()) p-2 text-black fw-lighter fs-6">
                                        @value
                                    </span>
                                }
                                else if (value is IEnumerable<string> subCats)
                                {
                                    foreach (var item in subCats ?? Enumerable.Empty<string>())
                                    {
                                        @item

                                        <br />
                                    }
                                }
                                else if (value is DateTime dt)
                                {
                                    @dt.ToString("dd-MMM-yyyy hh:mm tt")
                                }
                                else
                                {
                                    @value
                                }
                            </td>
                        }
                    }
                    <td class="text-center">
                        <div class="d-flex justify-content-center align-items-center">
                            @if (data.PendingAt == "HR")
                            {
                                <a asp-action="AddEditHelpdeskRequest" asp-controller="HelpDesk"
                                    asp-route-requestId="@data.HelpDeskRequestId" class="btn">
                                    <i class="bi bi-pen"></i>
                                </a>
                                <a class="btn deleteHelpDeskBtn p-0" data-id="@data.HelpDeskRequestId" data-bs-toggle="modal"
                                    data-bs-target="#deleteHelpDeskModal">
                                    <i class="bi bi-trash text-black"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-action="ResponseHelpDeskRequest" asp-controller="HelpDesk"
                                    asp-route-requestId="@data.HelpDeskRequestId" class="btn">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination Section -->
<div class="d-flex flex-row justify-content-end gap-2 mb-3 align-items-center">
    <p class="pt-3 text-black">Items per page</p>
    <div class="dropdown">
        <select class="form-select w-auto" onchange="HelpDeskRequestPaginationAjax(@Model.Page.CurrentPage)"
            aria-label="Default select example" id="helpDeskRequestPageSize">
            @if (Model.Page.PageSize != null)
            {
                <option value="5" selected="@(Model.Page.PageSize == 5 ? "selected" : null)">5</option>
                <option value="10" selected="@(Model.Page.PageSize == 10 ? "selected" : null)">10</option>
                <option value="15" selected="@(Model.Page.PageSize == 15 ? "selected" : null)">15</option>
            }
        </select>
    </div>
    <p class="pt-3 text-black">Showing @Model.Page!.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecord</p>

    <!-- Previous Button -->
    <button class="btn btn-outline-primary col-auto"
        onclick="HelpDeskRequestPaginationAjax(@Model.Page.CurrentPage - 1)" @(Model.Page.CurrentPage > 1 ? "" :
        "disabled")> &lt; </button>

    <!-- Next Button -->
    <button class="btn btn-outline-primary col-auto"
        onclick="HelpDeskRequestPaginationAjax(@Model.Page.CurrentPage + 1)" @(Model.Page.CurrentPage <
        Model.Page.TotalPages ? "" : "disabled")> &gt; </button>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>