@model Employee_Self_Service_DAL.ViewModel.HelpDeskPaginationViewModel
@using Employee_Self_Service.DAL.Attributes
@using Employee_Self_Service_BAL.Helpers
@using System.Reflection
@{
    string? userRole = Context.Request.Cookies["role"];
}
<div class="table-responsive px-0">
    <table class="table">
        <thead>
            <tr>
                @{
                    var props = typeof(Employee_Self_Service_DAL.ViewModel.HelpDeskDetailsViewModel).GetProperties();

                }
                @foreach (var prop in props)
                {
                    var displayAttr = prop.GetCustomAttribute<DisplayColumnAttribute>();

                    if (displayAttr != null && displayAttr.IsVisible)
                    {
                        @* <th>@displayAttr.Name</th> *@
                        <th class="@(prop.PropertyType == typeof(DateTime) ? "" : "text-center")">
                            <a href="javascript:void(0)" onclick="sortBy('@prop.Name')"
                                class="text-decoration-none text-dark">@displayAttr.Name
                                <i class="bi bi-arrow-down-up" id="sort-by-@prop.Name.Replace('.', '-')"
                                    data-direction="asc"></i>
                            </a>
                        </th>
                    }
                }
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.HelpDeskList)
            {
                <tr>
                    @foreach (var prop in props)
                    {
                        var displayAttr = prop.GetCustomAttribute<DisplayColumnAttribute>();

                        if (displayAttr != null && displayAttr.IsVisible)
                        {
                            var value = prop.GetValue(data);
                            <td class="text-center">
                                @if (prop.Name == "Status")
                                {
                                    <span class="badge status @(data.StatusId switch
                            {
                                2 => "approved",
                                7 => "rejected",
                                3 => "cancelled",
                                1 => "acknowledged",
                                4 => "closed",
                                _ => "pending"
                            }) p-2 text-black fw-lighter fs-6">
                                        @value
                                    </span>
                                }
                                else if (prop.Name == "Priority")
                                {
                                    <span class="badge status @(data.Priority.ToString().ToLower()) p-2 text-black fw-lighter fs-6">
                                        @value
                                    </span>
                                }
                                else if (value is IEnumerable<string> subCats)
                                {
                                    foreach (var item in subCats ?? Enumerable.Empty<string>())
                                    {
                                        @item

                                        <br />
                                    }
                                }
                                else if (value is DateTime dt)
                                {
                                    @dt.ToString("dd-MMM-yyyy hh:mm tt")
                                }
                                else
                                {
                                    @value
                                }
                            </td>
                        }
                    }

                    <td class="text-center">
                        <div class="d-flex align-items-center justify-content-center">
                            
                            @* @if (data.StatusId == 6 || userRole == "Network")
                            { *@
                               
                                <a asp-action="ResponseHelpDeskRequest" asp-controller="HelpDesk"
                                    asp-route-requestId="@data.HelpDeskRequestId" class="btn " type="button">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            @* } *@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Pagination Section -->
<div class="d-flex flex-row justify-content-end  gap-2 mb-3 align-items-center">
    <p class="pt-3 text-black">Items per page</p>
    <div class="dropdown">
        <select class="form-select w-auto " onchange="HelpDeskResponsePaginationAjax(@Model.Page.CurrentPage)"
            aria-label="Default select example" id="helpDeskResponsePageSize">
            @if (Model.Page.PageSize != null)
            {
                <option value="5" selected="@(Model.Page.PageSize == 5 ? true : false) selected">5</option>
                <option value="10" selected="@(Model.Page.PageSize == 10 ? true : false)">10</option>
                <option value="15" selected="@(Model.Page.PageSize == 15 ? true : false)">15</option>
            }
        </select>
    </div>
    <p class="pt-3 text-black">Showing @Model.Page!.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecord</p>

    <!-- Previous Button -->
    <button class="btn btn-outline-primary col-auto"
        onclick="HelpDeskResponsePaginationAjax(@Model.Page.CurrentPage - 1)" @(Model.Page.CurrentPage > 1 ? "" :
        "disabled")> &lt; </button>

    <!-- Next Button -->
    <button class="btn btn-outline-primary col-auto"
        onclick="HelpDeskResponsePaginationAjax(@Model.Page.CurrentPage + 1)" @(Model.Page.CurrentPage <
        Model.Page.TotalPages ? "" : "disabled")> &gt; </button>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
