@model Employee_Self_Service_DAL.ViewModel.AddLeaveRequestViewModel
@{
    string? approvedBy = Context.Request.Cookies["EmployeeId"];
}
<div class=" d-flex flex-column py-3 ">
    <div class="px-3 d-flex justify-content-between align-items-center">
        <div>
           <span>Leave/Response</span>
           <h4 class=" d-flex align-content-center m-0">Leave Request</h4>
                
            
        </div>
    </div>
    <hr class="dropdown-divider">

    
    
        <div class="details ">
            @* <input type="hidden" asp-for="@Model.EmployeeId" value="@Model.profile.EmployeeId"> *@
            <input type="hidden" asp-for="LeaveRequestId">           

            <div class="row col col-xxl-6 col-xl-7 col-lg-12 px-4">
                <!-- First Row -->
                <label for="itemName" class="p-0 mb-1">Name</label>
                <input type="text" class="form-control rounded-0 shadow-none border-2" asp-for="@Model.Name" id="Name"
                    value="@Model.profile.Name" disabled>
                <!-- Second Row -->
                <label for="itemName" class="p-0 mb-1 mt-3"> Reporting Person</label>
                <input type="text" class="form-control rounded-0 shadow-none border-2" asp-for="@Model.ReportingPerson"
                    id="ReportingPerson" value="@Model.profile.ReportingPerson" disabled>
                <!-- Third Row -->
                <label class="p-0 mb-1 mt-3"> Leave Reason*</label>
                <select asp-for="@Model.ReasonId" class="form-select rounded-0 shadow-none border-2" id="reasonSelect" disabled>
                    <option value="">Select a Reason</option>
                    @foreach (var reason in Model.Reasons)
                    {
                        <option value="@reason.ReasonId">@reason.Reason1</option>
                    }
                </select>
                <span asp-validation-for="ReasonId" class="text-danger"></span>
                <!-- Fourth Row -->
                <label for="itemName" class="p-0 mb-1 mt-3"> Reason Description*</label>
                <textarea class="form-control rounded-0 shadow-none border-2" rows="4"
                    asp-for="@Model.ReasonDescription" aria-required="false" aria-invalid="false" readonly > </textarea>
                <span asp-validation-for="ReasonDescription" class="text-danger"></span>
                <!-- Fifth Row -->
                <label for="startDate" class="p-0 mt-3 mb-1"> Leave Start Date*</label>
                <div class=" d-flex flex-md-row flex-column gap-3 flex-wrap  p-0">
                    <div class=" col">
                        <div>
                            <input type="date" class="form-control rounded-0 shadow-none border-2" id="startDate" asp-for="@Model.StartDate"
                                value="@(Model.StartDate?.ToString("yyyy-MM-dd") ?? "")"readonly>
                        </div>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="col ">                        
                        <select asp-for="StartLeaveTypeId" class="form-select dropdown rounded-0 shadow-none border-2 " asp-items="@ViewBag.LeaveType"
                            id="startDateType" disabled>
                        </select>
                        <span asp-validation-for="StartLeaveTypeId" class="text-danger"></span>
                    </div>
                </div>
                <!-- Sixth Row -->
                <label for="endDate" class="p-0 mt-3 mb-1"> Leave End Date*</label>
                <div class=" d-flex flex-md-row flex-column gap-3 flex-wrap  p-0">
                    <div class=" col">
                        <div>
                            <input type="date" class="form-control rounded-0 shadow-none border-2" id="endDate" asp-for="EndDate"
                                value="@(Model.EndDate?.ToString("yyyy-MM-dd") ?? "")" readonly>
                        </div>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="col ">
                        <select asp-for="EndLeaveTypeId" class="form-select dropdown rounded-0 shadow-none border-2 " asp-items="@ViewBag.LeaveType"
                            id="endDateType" disabled>
                        </select>
                        <span asp-validation-for="EndLeaveTypeId" class="text-danger"></span>
                    </div>
                </div>
                <!-- Seventh Row -->
                <div class=" d-flex flex-md-row flex-column gap-3 flex-wrap mt-3 mb-1  p-0">
                    <div class=" col">
                        <div>
                            <label for="actualDuration" class="p-0 mb-1">Actual Leave Duration</label>
                            <input type="text" class="form-control rounded-0 shadow-none border-2" id="actualDuration"
                                asp-for="@Model.ActualDuration" readonly>
                        </div>
                       
                        <span asp-validation-for="ActualDuration" class="text-danger"></span>
                    </div>
                    <div class="col ">
                        <label for="totalDuration" class="p-0 mb-1"> Total Leave Duration</label>
                        <input type="text" class="form-control rounded-0 shadow-none border-2" id="totalDuration"
                            value="@Model.TotalDuration" asp-for="@Model.TotalDuration" readonly>
                        
                    </div>
                    <span asp-validation-for="TotalDuration" class="text-danger"></span>
                </div>
                <!-- Eighth Row -->
                <div class=" d-flex flex-md-row flex-column gap-3 flex-wrap mt-3 mb-1  p-0">
                    <div class=" col">
                        <div>
                            <label for="itemName" class="p-0 mb-1"> Return Date</label>
                            <input type="date" class="form-control rounded-0 shadow-none border-2" id="returnDate"
                                asp-for="ReturnDate" value="@(Model.ReturnDate?.ToString("yyyy-MM-dd") ?? "")" readonly>
                        </div>

                        <span asp-validation-for="ReturnDate" class="text-danger"></span>
                    </div>
                    <div class="col ">
                        <label for="itemName" class="p-0 mb-1"> Requested Date</label>
                        <input type="date" class="form-control rounded-0" id="requestedDate" asp-for="RequestedDate"
                            value="@(Model.ReturnDate?.ToString("yyyy-MM-dd") ?? "")" readonly>
                        <span asp-validation-for="RequestedDate" class="text-danger"></span>
                    </div>
                </div>

                <!-- Nine Row -->
                <div class=" d-flex flex-md-row flex-column gap-3 flex-wrap mt-3 mb-1  p-0">
                    <div class=" col">
                        <div>
                            <label for="itemName" class="p-0 mb-1">Phone No.*</label>
                            <input type="text" class="form-control rounded-0 shadow-none border-2" id="Phone"
                                asp-for="@Model.PhoneNo" value="@Model.profile.ContactNo" readonly>
                        </div>
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>
                    <div class="col ">
                        <label for="itemName" class="p-0 mb-1 ">Alternate Phone No. </label>
                        <input type="text" class="form-control rounded-0 shadow-none border-2" id="Phone"
                            asp-for="@Model.AlternatePhoneNo" value="@Model.AlternatePhoneNo" readonly>
                        
                    </div>
                </div>
                <!-- Ten Row -->
                <label for="itemName" class="p-0 mb-1 mt-3"> Available On Phone</label>
                <select class="form-select d-flex align-content-end align-items-end justify-content-end rounded-0 shadow-none border-2"
                    asp-for="AvailableOnPhone" id="Reason" disabled>
                    <option value="true" selected="@(Model.AvailableOnPhone)">Yes</option>
                    <option value="false" selected="@(!Model.AvailableOnPhone)">No</option>
                </select>
                <div class="form-check mt-3">
                    <input class="form-check-input rounded-0" type="checkbox" id="flexCheckDefault" asp-for="@Model.AdhocLeave" disabled>
                    <label class="form-check-label">Adhoc Leave?</label>
                </div>
                <Form id="response" >
                @if(Model.StartDate >= DateOnly.FromDateTime(DateTime.Now) && Model.StatusId == 3){
                <label for="itemName" class="p-0 mb-1 mt-3"> Comment</label>
                <textarea class="form-control rounded-0 shadow-none border-2" rows="4" id = "comment"
                     aria-required="true" aria-invalid="false" asp-for="Comment"> </textarea>
                     <span asp-validation-for="Comment" class="text-danger"></span>
                }
                <div class="d-flex justify-content-start mt-4 gap-2 p-0">
                    @if(Model.StartDate >= DateOnly.FromDateTime(DateTime.Now) && Model.StatusId == 3){
                    @* @if(Model.StatusId == 3){ *@
                        <button type="submit" id="" class="btn response btn-primary rounded-0" data-requestid = "@Model.LeaveRequestId"   value="2" >Approve</button>
                        <button type="submit" id="" class="btn response btn-primary rounded-0" data-requestid = "@Model.LeaveRequestId" value="5">Reject</button>
                        
                    @* } *@
                    @* else if(Model.StatusId == 5){
                        <button type="submit" id="" class="btn response btn-primary rounded-0" data-requestid = "@Model.LeaveRequestId"   value="2" >Approve</button>
                    } 
                    else{
                        <button type="submit" id="" class="btn response btn-primary rounded-0" data-requestid = "@Model.LeaveRequestId"   value="2" >Approve</button>
                        <button type="submit" id="" class="btn response btn-primary rounded-0" data-requestid = "@Model.LeaveRequestId" value="5">Reject</button>
                    } *@
                    }
                    <a href="/Leave/ResponseRequest"><button type="button"
                            class="btn btn-white text-primary border-primary rounded-0">Cancel</button></a>
                </div>
                
                </Form>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@await Html.PartialAsync("_TosterPartialView")

<script>
    $(document).ready(function () {
        $('.response').on('click', function () {
            statusId = $(this).val();
        });
    });
</script>
<script>
    let approvedBy;
    $(document).on('submit','#response', function (e) {
             e.preventDefault();
            let comment = $('#comment').val();
            if(!$(this).valid()) return;
            $.ajax({
                url: '/Leave/ResponseLeaveRequest',
                type: 'POST',
                data: { 'requestId': $('.response').data("requestid"),
                        'statusId': statusId,
                        'approvedBy': @approvedBy,
                        'comment': comment,
                        
                    },
                success: (response) => {
                    if(response.success == true)
                    {
                        window.location.href = ("/Leave/ResponseRequest");
                    }
                    else
                    {
                        location.reload();
                    }
                },
                error: (error) => {
                    toastr.error("Eroor response request");
                    location.reload();
                }
            });
        });
</script>